html,
body {
    background-color: #21232A;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    padding: 0.8rem;
    border: 1px solid #f30a77;
    color: #f30a77;
    font-weight: 700;
    border-radius: 5px ;
}